body {
	font-family: monospace;
	background-image: url('img/rock.jpg');
}
.container {
	position: relative;
	background-color: white;
	padding: 5px;
	margin:-5px;
	overflow: hidden;
}

@media only screen and (min-width: 900px){
	.container {
		margin: 0 70px 0 70px;
		background-color: white
	}
}

/*@media only screen and (max-width: 767px){
 :root{
 --width:50%;
 --content: 'This is mobile';
 }
}
*/
#sword {
	position: relative;
	height: 90px;
}

nav {
	display: flex;
	align-items: center;
	font-size: 15px;
	width: 250px;
	justify-content: space-between;
}

@keyframes rainbow-background {
 0% { background-color: #ff0000; }
 8.333% { background-color: #ff8000; }
 16.667% { background-color: #ffff00; }
 25.000% { background-color: #80ff00; }
 33.333% { background-color: #00ff00; }
 41.667% { background-color: #00ff80; }
 50.000% { background-color: #00ffff; }
 58.333% { background-color: #0080ff; }
 66.667% { background-color: #0000ff; }
 75.000% { background-color: #8000ff; }
 83.333% { background-color: #ff00ff; }
 91.667% { background-color: #ff0080; }
 100.00% { background-color: #ff0000; }
}

nav img{
	animation: rainbow-background 5s infinite;
	border-radius: 10%;
}
nav a{
	transition: all 400ms ease;
}

nav a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: blue;
}

header h1 {
	display: inline;
	border-bottom: 3px solid magenta;
}

#but {/*
	position: absolute;*/
}
.boo {
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 20px;
	width: 80px;
	height: 100px;
}
.active {
	background-color: magenta;
	text-decoration: none;
	border: 2px solid gray;
	color: white;
	font-weight: bold;
}

.boo img {
	height: 100%;
}

.boo:hover {
	opacity: 1;
	
}
button{
	position: absolute;
	right: 30px;
	top:50px;
}
footer {
	width: 100%;
	margin: 0 0 -5px -5px;
	padding: 5px 20px 5px 20px;
	color: white;
	background-color: rgb(1,7,53);
}


footer a {
	text-decoration: none;
	color: rgb(46,71,250);
}

footer a img{
	z-index: 2;
	position: relative;
	top:10px;
	border-radius: 50%;
	width: 30px;
}
footer a img:hover{
	transform: scale(2,2);
	transition-duration: 2s;
	transition-property: transform;
}
